.group {
    height: 1000px;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #ff4727;
    margin: 3rem 3rem;
    flex-wrap: wrap;
    
}
.artist{
    
    width: 400px;
    height: 80px;
    padding: 4rem 4rem 4rem 4rem;
}

.artist img{
    width: 16rem;
    height: 17rem;
    
}

.artist h2{
    align-self: center;
}

