.hero {
  gap: 4rem;
  padding: 0 8rem;
  min-height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
  background: var(--blue-light);
}

.hero-text {
  flex: 3;
}

.hero-text h1 {
  color: var(--orange-main);
}

.hero-text p {
  margin: 2rem 0;
  padding-right: 5rem;
}

.hero-img {
  flex: 4;
}

.hero-img img {
  width: 100%;
}

.site-mission {
  min-height: calc(100vh - 4.5rem);
  gap: 4rem;
  padding: 0 8rem;
}

.mission-img {
  flex: 3;
}

.mission-text {
  flex: 4;
}

.mission-text h2 {
  margin-bottom: 2rem;
  color: var(--blue-dark);
}

.mission-img img {
  width: 100%;
}
